// Specific CSS for your home-page
#fundo {
  background-image: asset-url('seg.jpg');
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

#home {
  color: rgb(255, 0, 191);
  font-size: 600px;
}
