// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

#fundo {
  background-image: asset-url('seg.jpg');
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

#home {
  color: #fff;
  font-size: 900px;
  font-weight: bolder;
}
