<div id="header" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="header-content col-lg-8" data-aos="fade-right">
          <h2 class="header-title">SAFETY FOR ALL .APP</h2>
          <span class="header-text pb-5">O melhor aplicativo de segurança pessoal para smartphones. Já disponível para Apple e Android, faça já o seu download.
          </span>
          <div class="apps-icons">
            <a href="?" target="_blank" class="btn btn-outline-light material-ripple mr-3"> <%= image_tag 'app-store.png' %> App store</a>
            <a href="?" target="_blank" class="btn btn-outline-light material-ripple mr-3"> <%= image_tag 'google-play.png' %> Google play</a>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block" data-aos="fade-left">
          <%= image_tag 'iphonex-mockup.png' %>
        </div>
      </div>
    </div>
  </div><!-- End of header section -->
