<div id="header" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="header-content col-lg-8" data-aos="fade-right">
          <h2 class="header-title">SAFETY FOR ALL .APP</h2>
          <span class="header-text">O melhor aplicativo de segurança pessoal para smartphones. Já disponível para Apple e Android, faça já o seu download.
          </span>
          <div class="apps-icons">
            <a href="?" target="_blank"><button id="appstore" class="btn btn-outline-light material-ripple">App store</button></a>
            <a href="?" target="_blank"><button id="googleplay" class="btn btn-outline-light material-ripple">Google play</button></a>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block" data-aos="fade-left">
          <img id="iphonex" src="images/iphonex-mockup.png" alt="">
        </div>
      </div>
    </div>
  </div><!-- End of header section -->
