
<%= stylesheet_link_tag params[:controller] %>

<% content_for :head do %>
  <!-- header content specific to this payment page -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<% end %>


<div class="mobile-wrap">

  <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="modalReportLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReportLabel">Ocorrência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group float-label-control">
              <label for=""><i>Descrição</i></label>
              <input class='form-control' type="text" id='descriptionForm' name="description" value="" placeholder="Descrição" required>
            </div>
            <div>
              <label for="selectCategoria"><i>Categoria</i></label>
              <select class='form-control' id='selectCategoria' name='category'>
                <option value='Assalto com arma de fogo'>Assalto com arma de fogo</option>
                <option value='Briga no Trânsito'>Briga no Trânsito</option>
                <option value='Utilização de Drogas em via Pública'>Utilização de Drogas em via Pública</option>
                <option value='Tráfico de Drogas'>Tráfico de Drogas</option>
                <option value='Briga na rua'>Briga na rua</option>
                <option value='Acidente de Trânsito'>Acidente de Trânsito</option>
                <option value='Briga Doméstica na rua'>Briga Doméstica na rua</option>
                <option value='Furto'>Furto</option>
              </select>
            </div>
            <label for=""><i>Level</i></label><br />
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio1" value="1" required>
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio2" value="2" required>
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio3" value="3" required>
              <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio4" value="4" required>
              <label class="form-check-label" for="inlineRadio4">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio5" value="5" required>
              <label class="form-check-label" for="inlineRadio5">5</label>
            </div>
            <div class="form-group float-label-control">
              <label for=""><i>Endereço</i></label>
              <textarea class='form-control autoresizing' data-autoresize name="address" id='place_address' onchange="this.parentNode.dataset.replicatedValue = this.value"></textarea>
            </div>

            <input type='hidden' class='form-control' id='place_latitude' readonly="readonly" />
            <input type='hidden' class='form-control' id='place_longitude' readonly="readonly" />

            <button type="button" onclick="sendForm()" class='btn btn-success' name="button"><i class='fa fa-plus-square'></i> Registrar</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalReviews" tabindex="-1" aria-labelledby="modalReviewsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReviewsLabel">Detalhes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Descrição:</label>
          <p id='description'></p>
          <label>Categoria:</label>
          <p id='category'></p>
          <label>Nível:</label>
          <p id='danger_level'></p>
          <label>Endereço:</label>
          <p id='address'></p>
          <label>Latitude:</label>
          <p id='recordLat'></p>
          <label>Longitude:</label>
          <p id='recordLong'></p>
          <label>User:</label>
          <p id='userName'></p>
        </div>

      </div>
    </div>
  </div>



  <div class="modal fade" id="modalSettings" role="dialog" tabindex="-1" aria-labelledby="modalSettings" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSettingsLabel">Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-md-4">
            <label for="">Filtros:</label>
            <fieldset class='pinFilters levelCheckboxes'>
              <br />
              <div class="checkbox checkbox-primary">
                <input id="checkbox1" type="checkbox" name="checkboxPinLevel" checked="" value='1'>
                <label for="checkbox1">
                  <img src='/imgs/pinLevel1_sm.png' width=20%" /> Level 1
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox2" type="checkbox" name="checkboxPinLevel" checked="" value='2'>
                <label for="checkbox2">
                  <img src='/imgs/pinLevel2_sm.png' width=20%" /> Level 2
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox3" type="checkbox" name="checkboxPinLevel" checked="" value='3'>
                <label for="checkbox3">
                  <img src='/imgs/pinLevel3_sm.png' width="20%" /> Level 3
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox4" type="checkbox" name="checkboxPinLevel" checked="" value='4'>
                <label for="checkbox4">
                  <img src='/imgs/pinLevel4_sm.png' width=20%" /> Level 4
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox5" type="checkbox" name="checkboxPinLevel" checked="" value='5'>
                <label for="checkbox5">
                  <img src='/imgs/pinLevel5_sm.png' width=20%" /> Level 5
                </label>
              </div>


            </fieldset>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCredits" tabindex="-1" aria-labelledby="modalCreditsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCreditsLabel"><i class='fa fa-info'></i> Sobre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>

      </div>
    </div>
  </div>

  <div class="mobile clearfix">
    <div class="header">
      <span class="ion-ios-navicon pull-left"><i></i></span>
      <div class='pull-right'>
        <input type="checkbox" class="checkboxDarkMode" id="checkbox" onclick="toggleDarkMode()">
        <label for="checkbox" class="labelDarkToggle">
          <i class="fas fa-moon"></i>
          <i class='fas fa-sun'></i>
          <div class='ballDarkToggle'></div>
        </label>
      </div>


    </div>
    <div class="sidebar" id="sidebar">
      <div class="sidebar-overlay"></div>
      <div class="sidebar-content">
        <div class="top-head">
          <div class="">
            <h1 style="margin-bottom: -2%;">SAFETY</h1>
            <p style='text-align:center'>for all.</p>
          </div>
        </div>
        <div class="navs-left">

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSettings" onclick="openModalSettings()"><span class="ion-ios-gear-outline"></span> Settings</button><br />
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCredits" onclick="openModalCredits()"><span class="ion-ios-information-outline"></span> About</button><br />
          <button type="button" class="btn btn-primary" onclick="initTutorial()"><span class="fas fa-user-graduate"></span> Tutorial</button><br />
          <!-- <button type="button" class="btn btn-primary" onclick="logOutUser()"><span class="ion-ios-person-outline"></span> Logout</button> -->
          <%= button_to "Logout", destroy_user_session_path,method: :delete,class:"btn btn-primary" %>

        </div>

        <div>
        </div>
      </div>
    </div>
    <!-- <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    </div> -->
    <div id="allMap"></div>
    <div class="content">
      <!-- MAPA -->
    </div>
    <div class="nav2">
      <a href="#" class="mask" id='locateMe' style="color: #fff;"><img src='/imgs/Ic_my_location_48px_white.png' width='50%' /></a>
    </div>
    <div class="nav">
      <a href="#toggle" class="mask" style="color: #fff;" onclick="openModalReport('default')"><i class="ion-ios-plus-empty"></i></a>
    </div>
  </div>
</div>
