
<%= stylesheet_link_tag params[:controller] %>

<% content_for :head do %>
  <!-- header content specific to this payment page -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<% end %>

<div class="mobile-wrap">
  <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="modalReportLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReportLabel">Ocorrência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group float-label-control">
              <label for=""><i>Descrição</i></label>
              <input class='form-control' type="text" id='descriptionForm' name="description" value="" placeholder="Descrição" required>
            </div>
            <div>
              <label for="selectCategoria"><i>Categoria</i></label>
              <select class='form-control' id='selectCategoria' name='category'>
                <option value='Assalto com arma de fogo'>Assalto com arma de fogo</option>
                <option value='Briga no Trânsito'>Briga no Trânsito</option>
                <option value='Utilização de Drogas em via Pública'>Utilização de Drogas em via Pública</option>
                <option value='Tráfico de Drogas'>Tráfico de Drogas</option>
                <option value='Briga na rua'>Briga na rua</option>
                <option value='Acidente de Trânsito'>Acidente de Trânsito</option>
                <option value='Briga Doméstica na rua'>Briga Doméstica na rua</option>
                <option value='Furto'>Furto</option>
              </select>
            </div>
            <label for=""><i>Level</i></label><br />
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio1" value="1" required>
              <label class="form-check-label" for="inlineRadio1">1. Levíssimo</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio2" value="2" required>
              <label class="form-check-label" for="inlineRadio2">2. Leve</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio3" value="3" required>
              <label class="form-check-label" for="inlineRadio3">3.  Moderado</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio4" value="4" required>
              <label class="form-check-label" for="inlineRadio4">4. Perigoso</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="danger_level" id="inlineRadio5" value="5" required>
              <label class="form-check-label" for="inlineRadio5">5. Perigosíssimo</label>
            </div>
            <div class="form-group float-label-control">
              <label for=""><i>Endereço</i></label>
              <textarea class='form-control autoresizing' data-autoresize name="address" id='place_address' onchange="this.parentNode.dataset.replicatedValue = this.value"></textarea>
            </div>

            <input type='hidden' class='form-control' id='place_latitude' readonly="readonly" />
            <input type='hidden' class='form-control' id='place_longitude' readonly="readonly" />

            <button type="button" onclick="sendForm()" class='btn btn-success' name="button"><i class='fa fa-plus-square'></i> Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalReviews" tabindex="-1" aria-labelledby="modalReviewsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReviewsLabel">Detalhes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Descrição:</label>
          <p id='description'></p>
          <label>Categoria:</label>
          <p id='category'></p>
          <label>Nível:</label>
          <p id='danger_level'></p>
          <label>Endereço:</label>
          <p id='address'></p>
          <label>Latitude:</label>
          <p id='recordLat'></p>
          <label>Longitude:</label>
          <p id='recordLong'></p>
          <label>User:</label>
          <p id='userName'></p>
        </div>

      </div>
    </div>
  </div>



  <div class="modal fade" id="modalSettings" role="dialog" tabindex="-1" aria-labelledby="modalSettings" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSettingsLabel">Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-md-4">
            <label for="">Filtros:</label>
            <fieldset class='pinFilters levelCheckboxes'>
              <br />
              <div class="checkbox checkbox-primary">
                <input id="checkbox1" type="checkbox" name="checkboxPinLevel" checked="" value='1'>
                <label for="checkbox1">
                  <img src='/imgs/pinLevel1_sm.png' width=20%" /> Level 1
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox2" type="checkbox" name="checkboxPinLevel" checked="" value='2'>
                <label for="checkbox2">
                  <img src='/imgs/pinLevel2_sm.png' width=20%" /> Level 2
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox3" type="checkbox" name="checkboxPinLevel" checked="" value='3'>
                <label for="checkbox3">
                  <img src='/imgs/pinLevel3_sm.png' width="20%" /> Level 3
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox4" type="checkbox" name="checkboxPinLevel" checked="" value='4'>
                <label for="checkbox4">
                  <img src='/imgs/pinLevel4_sm.png' width=20%" /> Level 4
                </label>
              </div>
              <div class="checkbox checkbox-primary">
                <input id="checkbox5" type="checkbox" name="checkboxPinLevel" checked="" value='5'>
                <label for="checkbox5">
                  <img src='/imgs/pinLevel5_sm.png' width=20%" /> Level 5
                </label>
              </div>


            </fieldset>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCredits" tabindex="-1" aria-labelledby="modalCreditsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCreditsLabel"><i class='fa fa-info'></i> Sobre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>

      </div>
    </div>
  </div>

  <div class="mobile clearfix">
    <div class="header">
      <span class="ion-ios-navicon pull-left"><i></i></span>
      <div class='pull-right'>
        <input type="checkbox" class="checkboxDarkMode" id="checkbox" onclick="toggleDarkMode()">
        <label for="checkbox" class="labelDarkToggle">
          <i class="fas fa-moon"></i>
          <i class='fas fa-sun'></i>
          <div class='ballDarkToggle'></div>
        </label>
      </div>


    </div>
    <div class="sidebar" id="sidebar">
      <div class="sidebar-overlay"></div>
      <div class="sidebar-content">
        <div class="top-head">
          <div class="">
          <img src="imgs/logo-preta.png" style="width: 100%">
          </div>
        </div>
        <div class="navs-left">
          <a type="button" data-toggle="modal" data-target="#modalSettings" onclick="openModalSettings()" class="pt-4"><span class="ion-ios-gear-outline"></span>Ocorrências</a>
          <a type="button" data-toggle="modal" data-target="#modalCredits" onclick="openModalCredits()"><span class="ion-ios-information-outline"></span> About Us</a>
          <a type="button" onclick="initTutorial()" class="pb-5"><span class="fas fa-user-graduate"></span> Tutorial do seu APP</a>
          <!-- <button type="button" onclick="logOutUser()"><span class="ion-ios-person-outline"></span> Logout</button> -->
          <div class="d-flex justify-content-center">
          <%= button_to "Logout", destroy_user_session_path,method: :delete,class:"btn btn-outline-dark p-2" %>
          </div>
        </div>

        <div>
        </div>
      </div>
    </div>
    <!-- <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    </div> -->
    <div id="allMap"></div>
    <div class="content">
      <!-- MAPA -->
    </div>
    <div class="nav2">
      <a href="#" class="mask" id='locateMe' style="color: #fff;"><img src='/imgs/Ic_my_location_48px_white.png' width='50%' /></a>
    </div>
    <div class="nav">
      <a href="#toggle" class="mask" style="color: #fff;" onclick="openModalReport('default')"><i class="ion-ios-plus-empty"></i></a>
    </div>
  </div>
</div>

  <script>
  // JavaScript está nesta página decorrente da ordem de carregamento da página

  var heatmap,map;

  var mapType='normal';
  function toggleHeatmap() {
    event.preventDefault();
    // heatmap.setMap(heatmap.getMap() ? null : map);
    if(mapType=='normal'){
      mapType='heat';
      initMapAll(userLatLng,0,'heat');
    }else{
      mapType='normal';
      initMapAll(userLatLng,0,'normal');
    }

  }

  function changeGradient() {
    var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
    ]
    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
  }

  function changeRadius() {
    heatmap.set('radius', heatmap.get('radius') ? null : 20);
  }

  function changeOpacity() {
    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
  }
  // Heatmap data: 500 Points
  function getPoints() {
    return [
      new google.maps.LatLng(-23.551436,	-46.689363),
      new google.maps.LatLng(-23.5487015,	-46.5709204),
      new google.maps.LatLng(-23.541559803081412,	-46.61357266048529),
      new google.maps.LatLng(-23.530936104693843,	-46.63169754699272),
      new google.maps.LatLng(-23.5274872,	-46.6682728),
      new google.maps.LatLng(-23.5121458,	-46.6959571),
      new google.maps.LatLng(-23.534091,	-46.4847274),
      new google.maps.LatLng(-23.517943938564,	-46.49639114312057),
      new google.maps.LatLng(-23.501722511848257,	-46.5147478406616),
      new google.maps.LatLng(-23.51275388613911,	-46.509749589357476),
      new google.maps.LatLng(-23.5325098,	-46.6866949),
      new google.maps.LatLng(-23.5238552,	-46.6966112),
      new google.maps.LatLng(-23.5235455,	-46.707312),
      new google.maps.LatLng(-23.522230847427846,	-46.72268825692604),
      new google.maps.LatLng(-23.5430203481882,	-46.75108097586215),
      new google.maps.LatLng(-23.54330839835314,	-46.76891567586218),
      new google.maps.LatLng(-23.572029546385433,	-46.71771224702639),
      new google.maps.LatLng(-23.5709163,	-46.7808146),
      new google.maps.LatLng(-23.5692268,	-46.7783462),
      new google.maps.LatLng(-23.5714135,	-46.6561708),
      new google.maps.LatLng(-23.5703339,	-46.6644218),
      new google.maps.LatLng(-23.5851633,	-46.6799436),
      new google.maps.LatLng(-23.5856155,	-46.6880461),
      new google.maps.LatLng(-23.599560185563355,	-46.670145833481214),
      new google.maps.LatLng(-23.5874635,	-46.67364),
      new google.maps.LatLng(-23.57178574838909,	-46.68453140846947),
      new google.maps.LatLng(-23.5406805,	-46.7286837),
      new google.maps.LatLng(-23.5243716,	-46.7274694),
      new google.maps.LatLng(-23.502819736146765,	-46.71236411650939),
      new google.maps.LatLng(-23.491580512863784,	-46.71946577308889),
      new google.maps.LatLng(-23.4785063,	-46.7170899),
      new google.maps.LatLng(-23.637363040265274,	-46.69860971813775),
      new google.maps.LatLng(-23.6110736,	-46.6856352),
      new google.maps.LatLng(-23.546897362400017,	-46.48098674512625),
      new google.maps.LatLng(-23.5494194,	-46.4572144),
      new google.maps.LatLng(-23.55442821194587,	-46.449639273961814),
      new google.maps.LatLng(-23.569996539870715,	-46.474003133481894),
      new google.maps.LatLng(-23.586677867225532,	-46.51197097581042),
      new google.maps.LatLng(-23.578289188408057,	-46.53751094697498),
      new google.maps.LatLng(-23.566793969053755,	-46.55084627581081),
      new google.maps.LatLng(-23.5667669,	-46.5922078),
      new google.maps.LatLng(-23.556453424238573,	-46.604444031632845),
      new google.maps.LatLng(-23.6756087,	-46.6110302),
      new google.maps.LatLng(-23.687432,	-46.5971636),
      new google.maps.LatLng(-23.73018,	-46.571757),
      new google.maps.LatLng(-23.728510260488864,	-46.57154124697116),
      new google.maps.LatLng(-23.720123846576158,	-46.594429150659685),
      new google.maps.LatLng(-23.7103286,	-46.6995343),
      new google.maps.LatLng(-23.67736865799807,	-46.78283788253114),
      new google.maps.LatLng(-23.6719745,	-46.8034154),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.5558,	-46.6396),
      new google.maps.LatLng(-23.530227,	-46.64784),
      new google.maps.LatLng(-23.555751,	-46.639586),
      new google.maps.LatLng(-15.777756,	-47.874208),
      new google.maps.LatLng(-15.814185,	-47.903696),


    ];
  }

  function capitalize(word) {
    return word
      .toLowerCase()
      .replace(/\w/, firstLetter => firstLetter.toUpperCase());
  }

  var locations = [
    ['Motoqueiro atropelado',  'Acidente de Trânsito', '3', 'R. Mal. Barbacena, 1229 - Vila Reg. Feijó', '-23.551436', '-46.689363', "Thiago'"],
    ['Dois homens se estranhando no carro',  'Briga no Trânsito', '1', 'R. Serra de Juréa, 725 - Tatuapé', '-23.55054149131275', '--46.57043718725978',  "Ana"],
    ['Briga generalizada',  'Briga na rua', '4', 'R. Brg. Machado, 62 - Brás', '-23.541559803081412', '-46.61357266048529',  "Tasso"],
    ['Marido pegou a mulher traindo',  'Briga Doméstica na rua', '2', 'Rua Dr. Jorge Miranda, 34', '-23.530936104693843', '-46.63169754699272',  "Allysson"],
    ['Dois estranhos trocando drogas',  'Tráfico de Drogas', '5', 'R. Tagipuru, 1060 - Barra Funda,', '-23.52596489429082', '-46.669802833500036',  "Ana"],
    ['Um grupo de adolescentes fumando maconha',  'Utilização de Drogas em via Pública', '2', 'Rua Virgilio Wey, 150 - Água Branca', '-23.51120274505672', '-46.69636025834542',  "Eduardo"],
    ['Minha bicicleta sumiu',  'Furto', '1', 'R. Nerópolis, 133 - Jardim Nordeste', '-23.53316820054743', '-46.48425499697211',  "Bruno"],
    ['Dois individuos mascarados roubaram meu carro',  'Assalto com arma de fogo', '5', 'R. Prof. Pinheiro Domingues, 513 - Vila Frugoli,', '-23.517943938564', '-46.49639114312057',  "Ed"],
    ['Colisão entre duas bicicletas',  'Acidente de Trânsito', '2', 'Av. Rubens Fraga de Toledo Arruda, 142 - Eng. Goulart', '-23.501722511848257', '-46.5147478406616',  "Emilio"],
    ['O cara saiu do carro com um taco de beisebol',  'Briga no Trânsito', '2', 'R. Jovelina, 121 - Vila Domitila ', '-23.51275388613911', '-46.509749589357476',  "Felipe"],
    ['Molecada ta saindo no pau',  'Briga na rua', '1', 'Rua Coronel Melo de Oliveira, 226 - Pompeia ', '-23.53348519986129', '-46.68419865867574',  "Giovanna"],
    ['Mulher pegou o marido com o vizinho',  'Briga Doméstica na rua', '1', 'R. Espártaco, 780 - Vila Romana,', '-23.529234579002114', '-46.69697171220739',  "Giovanni"],
    ['Vi dois caras com um pacote estranho',  'Tráfico de Drogas', '5', 'R. Albion - Lapa', '-23.523493751858226', '-46.710821958675844',  "Guilherme"],
    ['Tem uma mulher debaixo da ponte usando drogas',  'Utilização de Drogas em via Pública', '2', 'Tv. Misterioso Coração, 2 - Bela Aliança', '-23.522230847427846', '-46.72268825692604',  "Henrique"],
    ['Apontaram uma pistola e levaram minha mochila',  'Assalto com arma de fogo', '5', 'R. Santa Leonor, 44 - Jaguaré', '-23.5430203481882', '-46.75108097586215',  "Igor"],
    ['O fusca furou o farol vermelho',  'Acidente de Trânsito', '2', 'R. André Thomas, 2-148 - Vila Campesina', '-23.54330839835314', '-46.76891567586218',  "Igor"],
    ['Dois caras sairam na porrada',  'Briga na rua', '1', 'R. André Thomas, 2-148 - Vila Campesina', '-23.572029546385433', '-46.71771224702639',  "Jose"],
    ['Duas velhas brigando de bengala',  'Briga na rua', '1', 'Av. Vasco da Rocha Leão, 442 - City Bussocaba', '-23.57217584515051', '-46.7812259316857',  "Kuxixima"],
    ['Duas irmãs brigando',  'Briga Doméstica na rua', '2', 'R. Paulo Antônio Camargo, 147 - Bussocaba', '-23.56515553430823', '-46.78864808935624',  "Pedro"],
    ['Deixaram um pacote na praça',  'Tráfico de Drogas', '5', 'R. Batataes, 543 - Jardim Paulista', '-23.569407689868413', '-46.658348368477064',  "Lucas"],
    ['Uma pessoa em situação de rua usando drogas',  'Utilização de Drogas em via Pública', '2', 'Alameda Casa Branca, 1060 - Cerqueira César', '-23.568810639665458', '-46.6630171979083',  "Mariana"],
    ['Atiraram pra cima e levaram o caixa eletronico',  'Assalto com arma de fogo', '5', 'R. Viradouro, 139 - Itaim Bibi', '-23.585508797603037', '-46.68116050674694',  "Mathieyu"],
    ['Um corsel fechou um corsa',  'Acidente de Trânsito', '2', 'R. Jacurici, 60 - Itaim Bibi', '-23.58466922420353', '-46.68595286242358',  "Milene"],
    ['O padeiro ta batendo no boleiro',  'Briga na rua', '1', 'Rua Pintassilgo, 3 - Vila Uberabinha', '-23.599560185563355', '-46.670145833481214',  "Millene"],
    ['Mulher brigando com a cunhada',  'Briga Doméstica na rua', '3', 'R. Benedito Lapin, 87 - Itaim Bibi', '-23.587306966509406', '-46.67331971271716',  "Nathan"],
    ['Um cara de bike, entregou um baseado pro rapaz',  'Tráfico de Drogas', '5', 'Rua Professor Roberto Hottinger, 26 - Jardim Paulistano', '-23.57178574838909', '-46.68453140846947',  "Neto"],
    ['Tem um cara fumando crack',  'Utilização de Drogas em via Pública', '2', 'Av. Queiroz Filho, 1.700, Vila Hamburguesa', '-23.542542101887886', '-46.73292191860528',  "Nicolas"],
    ['Torcedores do flamengo brigando com os do corinthians',  'Briga na rua', '5', 'R. Curupaiti, 367-151 - Vila Leopoldina,', '-23.524279278535854', '-46.72842437396233',  "Paty"],
    ['Dois caras numa moto pegaram meu boné',  'Furto', '2', 'R. Maria Zélia, 146 - Vila Pirituba', '-23.502819736146765', '-46.71236411650939',  "Rafael"],
    ['Engavetamento',  'Acidente de Trânsito', '2', 'R. Luís de Andrade, 685 - Vila Pereira Barreto', '-23.491580512863784', '-46.71946577308889',  "Rafael"],
    ['Roubaram o Banco do Brasil',  'Assalto com arma de fogo', '5', 'R. Fausto Lex, 481 - Vila Zat', '-23.47891587819215', '-46.71693591216905',  "Ricardo"],
    ['Vizinhos jogando pedra na casa dos outros',  'Briga Doméstica na rua', '1', 'R. Verbo Divino, 173 - Chácara Santo Antônio', '-23.637363040265274', '-46.69860971813775',  "Roberto"],
    ['Carteiro pistola com o cachorro',  'Briga na rua', '2', 'R. Hollywood, 321 - Itaim Bibi', '-23.61018246737227', '-46.68513616676133',  "Taiguara"],
    ['Tem um cara vendendo droga ali na esquina',  'Tráfico de Drogas', '5', 'R. Padre José Viêira de Matos - Conjunto Habitacional COHAB 1', '-23.546897362400017', '-46.48098674512625',  "Thiago"],
    ['Tem dois caras brigando por causa de um lanche',  'Briga na rua', '1', 'Rua Waldemar Mancini, 61 - Itaquera', '-23.547086833295634', '-46.46082029940678',  "Victor"],
    ['Meu vizinho ta fumando droga na frente da igreja',  'Utilização de Drogas em via Pública', '2', 'Travessa Maestro Melartin, 72 - Vila Carmosina', '-23.55442821194587', '-46.449639273961814',  "Victor"],
    ['Um Uno com uma escada bateu em uma ferrari',  'Acidente de Trânsito', '2', 'R. Aranha de Vasconcelos, 142 - Jardim Nossa Sra. do Carmo', '-23.569996539870715', '-46.474003133481894',  "Neymar"],
    ['Ladrão levou meu cachorro',  'Assalto com arma de fogo', '5', 'R. Euclídes Antônio de Souza, 243-167 - Jardim das Rosas', '-23.586677867225532', '-46.51197097581042',  "Carlos"],
    ['Pai batendo no filho',  'Briga Doméstica na rua', '2', 'Av. Antônio Manograsso, 91 - Chácara Belenzinho', '-23.578289188408057', '-46.53751094697498',  "Leonardo"],
    ['Roubaram a roda do meu carro',  'Furto', '3', 'R. Rio Real, 116-242 - Vila Formosa', '-23.566793969053755', '-46.55084627581081',  "Fabio"],
    ['Briga generalizada por causa do preço da gasolina',  'Briga na rua', '4', 'Av. Paes de Barros - Parque da Mooca', '-23.5703092172207', '-46.58782356661978',  "Thierry"],
    ['Briga entre torcida organizada de boliche',  'Briga na rua', '3', 'R. Marina Crespi, 174-334 - Mooca', '-23.556453424238573', '-46.604444031632845',  "Fabio"],
    ['Motociclista furou o farol vermelho',  'Acidente de Trânsito', '4', 'R. Havana, 144 - Taboão, Diadema', '-23.67560115296766', '-46.611032800238036',  "Silvio"],
    ['Usuario de drogas',  'Utilização de Drogas em via Pública', '3', 'R. Padre Inácio Siqueira, 413 - Vila Nogueira, Diadema', '-23.68702402194358', '-46.59847619570551',  "Sergio"],
    ['Vizinhos bravos por causa de cachorros',  'Briga Doméstica na rua', '2', 'R. Natalino Fabrini, 2-138 - Dos Casa', '-23.72853972602529', '-46.571509060464265',  "Earvin"],
    ['Dois marmanjos brigando por causa de uma mulher',  'Briga na rua', '2', 'Passagem Cajueiro, 24-86 - Inamar, Diadema', '-23.728510260488864', '-46.57154124697116',  "Fernando"],
    ['Tem alguem fumando maconha por aqui',  'Utilização de Drogas em via Pública', '2', 'R. Ângela Maçon Bonício, 83 - Cooperativa, São Bernardo do Campo', '-23.720123846576158', '-46.594429150659685',  "Caio"],
    ['Furtaram o meu chinelo',  'Furto', '3', 'Rua Padre José Garzotti, 342 - Cidade Dutra', '-23.71037504608548', '-46.701466134688125',  "Marina"],
    ['Carro estragou e causou acidente',  'Acidente de Trânsito', '2', 'Rua Turquesa, 30 - Jardim Capao Redondo', '-23.67736865799807', '-46.78283788253114',  "Bruna"],
    ['Dois caminhoes cheio de droga',  'Tráfico de Drogas', '5', 'Rua Alvorada, 202 - Jardim Sao Eduardo, Embu das Artes', '-23.670149601803523', '-46.80260121018091',  "Bruna"]
  ];

  var heatmapData = [
    new google.maps.LatLng(37.782, -122.447),
    new google.maps.LatLng(37.782, -122.445),
    new google.maps.LatLng(37.782, -122.443),
    new google.maps.LatLng(37.782, -122.441),
    new google.maps.LatLng(37.782, -122.439),
    new google.maps.LatLng(37.782, -122.437),
    new google.maps.LatLng(37.782, -122.435),
    new google.maps.LatLng(37.785, -122.447),
    new google.maps.LatLng(37.785, -122.445),
    new google.maps.LatLng(37.785, -122.443),
    new google.maps.LatLng(37.785, -122.441),
    new google.maps.LatLng(37.785, -122.439),
    new google.maps.LatLng(37.785, -122.437),
    new google.maps.LatLng(37.785, -122.435)
  ];


  var map;
  const iconBase = "/imgs/";
  const icons = {
    1: {
      icon: iconBase + "pinLevel1_sm.png",
    },
    2: {
      icon: iconBase + "pinLevel2_sm.png",
    },
    3: {
      icon: iconBase + "pinLevel3_sm.png",
    },
    4: {
      icon: iconBase + "pinLevel4_sm.png",
    },
    5:{
      icon: iconBase + "pinLevel5_sm.png"
    }
  };

  let darkModeStyle=[];
  function toggleDarkMode(mode){
    if(darkModeStyle.length==0){
      // Custom style at:
      // https://mapstyle.withgoogle.com/
      darkModeStyle=[
        { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
        { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
        { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [{ color: "#263c3f" }],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [{ color: "#6b9a76" }],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [{ color: "#38414e" }],
        },
        {
          featureType: "road",
          elementType: "geometry.stroke",
          stylers: [{ color: "#212a37" }],
        },
        {
          featureType: "road",
          elementType: "labels.text.fill",
          stylers: [{ color: "#9ca5b3" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [{ color: "#746855" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [{ color: "#1f2835" }],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [{ color: "#f3d19c" }],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [{ color: "#2f3948" }],
        },
        {
          featureType: "transit.station",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [{ color: "#17263c" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [{ color: "#515c6d" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.stroke",
          stylers: [{ color: "#17263c" }],
        },
      ];
      darkModeStyle2=[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":"-100"},{"lightness":"30"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"lightness":"74"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"lightness":"3"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}];
      $('p').css('color','white');
      $('label').css('color','white');
      $('h1').css('color','white');
      $('h5').css('color','white');
      $('a').css('color','white');
      $('.sidebar-content').css('background-color','#343434');
      $('.modal-content').css('background-color','#343434');
    }else{
      darkModeStyle=[];
      $('p').css('color','black');
      $('label').css('color','black');
      $('h1').css('color','black');
      $('h5').css('color','black');
      $('a').css('color','black');
      $('.sidebar-content').css('background-color','white');
      $('.modal-content').css('background-color','white');
      $('.ion-ios-plus-empty').css('color','white');
    }
    initMapAll(userLatLng);
  }



  function initMapAll(userLatLng,focusUser=0,mapType='normal') {
    var bounds = new google.maps.LatLngBounds();

    var mapOptions = {
      // center: myCoords,
      zoom: 10,
      disableDefaultUI: true,
      styles:darkModeStyle,
    };
    map = new google.maps.Map(document.getElementById('allMap'), mapOptions);

    getLocation();

    //USER LOCATION / NEW REPORT
    lat = userLatLng.latitude;
    lng = userLatLng.longitude;

    var myCoords = new google.maps.LatLng(lat, lng);
    if(focusUser==1){
      bounds.extend(myCoords);
    }
    map.fitBounds(bounds);
    // console.log(map.getZoom());
    var infowindow = new google.maps.InfoWindow();


    var usrMarker = new google.maps.Marker({
      position: myCoords,
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
    });


    google.maps.event.addListener(usrMarker, 'click', (function(usrMarker) {
      return function() {
        // infowindow.setContent("Você está aqui!");
        infowindow.setContent("<button class='btn btn-success' onclick='openModalReport()'>Registrar Ocorrência</button>");
        infowindow.open(map, usrMarker);
      }
    })(usrMarker));

    google.maps.event.addListener(map, 'click', (function() {
      return function() {
        infowindow.close();
      }
    })(usrMarker));

    // refresh usrMarker position and recenter map on usrMarker
    function refreshMarker() {
      var lat = document.getElementById('place_latitude').val;
      var lng = document.getElementById('place_longitude').val;
      var myCoords = new google.maps.LatLng(lat, lng);
      usrMarker.setPosition(myCoords);
      map.setCenter(usrMarker.getPosition());
    }

    document.getElementById('place_latitude').onchange = refreshMarker;
    document.getElementById('place_longitude').onchange = refreshMarker;
    // document.getElementById('place_address').onchange = geocodePosition;
    usrMarker.addListener('drag', function() {
      latlng = usrMarker.getPosition();
      newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
      newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
      // console.log("NEW:",newlat,newlng);
      $('#place_latitude').val(newlat);
      $('#place_longitude').val(newlng);
      infowindow.setContent("<button class='btn btn-success' onclick='openModalReport()'>Registrar Ocorrência</button>");
      infowindow.open(map, usrMarker);
    });
    // When drag ends, center (pan) the map on the usrMarker position
    usrMarker.addListener('dragend', function() {
      map.panTo(usrMarker.getPosition());
      codeAddress(newlat,newlng);
    });


    latlng = usrMarker.getPosition();
    newlat = (Math.round(latlng.lat() * 1000000)) / 1000000;
    newlng = (Math.round(latlng.lng() * 1000000)) / 1000000;
    $('#place_latitude').val(newlat);
    $('#place_longitude').val(newlng);
    codeAddress(newlat,newlng);

    let pinsToShow = getSelectedPins();

    // ALL REPORTS PINS
    if(mapType=="normal"){
      $(locations).each(function(i,place){
        // console.log(place);
        // console.log(pinsToShow.includes(place[2]));
        if(pinsToShow.includes(place[2])){
          myCoords = new google.maps.LatLng(parseFloat(place[4]),parseFloat(place[5]));
          if(focusUser==0){
            bounds.extend(myCoords);
          }
          marker = new google.maps.Marker({
            position: myCoords,
            // icon: "/imgs/pinAlertSmall.png",
            icon: icons[place[2]].icon,
            map: map,
            animation: google.maps.Animation.DROP,

          });
          google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
              openReviews(place);
            }
          })(marker));
        }
      });
    }else{
      heatmap = new google.maps.visualization.HeatmapLayer({
        data: getPoints(),
        map: map
      });
    }

    if(focusUser==1){
      setTimeout(function(){
        map.setZoom(16);
      },500);
    }



    // map.fitBounds(bounds);

  }


  function codeAddress(lat,lng) {
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          // console.log(results[0]);
          $('#place_address').val(results[0].formatted_address);
        } else {
          console.log(status);
        }
    });
}

  var position;
  var userLatLng;
  var userCity;
  function getLatLngIP(){
     jQuery.get("https://freegeoip.app/json/", function(response) {
        userLatLng={
          "latitude": parseFloat(response.latitude),
          "longitude": parseFloat(response.longitude)
        }
    }, "jsonp");
  }

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      getLatLngIP()
      // x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    userLatLng={
      "latitude":position.coords.latitude,
      "longitude":position.coords.longitude
    };
  }


  document.addEventListener("DOMContentLoaded", function(){
      console.log('Carregando sua localizacao..');
      getLatLngIP();
      setTimeout(function(){
        initMapAll(userLatLng,1);
      },1000)
  });

  var dialogLogInWarning = document.getElementById("dialogLogInWarning");
  var modalSettings = new bootstrap.Modal($("#modalSettings"), {});
  var modalReport = new bootstrap.Modal($("#modalReport"), {});
  var modalCredits = new bootstrap.Modal($("#modalCredits"), {});
  var modalReviews = new bootstrap.Modal($("#modalReviews"), {});

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  var userLogged=true;

  function openModalReport(tipoOcorrencia){
    event.preventDefault();
    if(userLogged){
      modalReport.show();
      $('#newRecordTitle').html(tipoOcorrencia);
    }else{
      dialogLogInWarning.show();
    }

  }

  function openReviews(details){
    $("#description").html(details[0]);
    $("#category").html(details[1]);
    $("#danger_level").html(details[2]);
    $("#address").html(details[3]);
    $("#recordLat").html(details[4]);
    $("#recordLong").html(details[5]);
    $("#userName").html(details[6]);
    modalReviews.show();
    // openModalReview(details);
  }


  $(document).ready(function(){});

  function openModalSettings(){
    // modalSettings.show();
    $(".sidebar").toggleClass("active");
  }

  function openModalCredits(){
    modalCredits.show();
    $(".sidebar").toggleClass("active");
  }


  $('input[name=checkboxPinLevel]').on('change',function(){
    initMapAll(userLatLng);
  });

  let selectedPins=[];
  function getSelectedPins(){
    selectedPins=[];
    $('input[name=checkboxPinLevel]:checked').each(function(i){
      selectedPins.push($(this).val());
    });
    return selectedPins;
  }


  $('#locateMe').on('click',function(){
    event.preventDefault();
    initMapAll(userLatLng,1);
  });


  $(".navs-left a").hover(function(){
    if(darkModeStyle.length==0){
      $(this).css("background-color", "#e4e7e6");
    }else{
      $(this).css("background-color", "#1a1b1b");
    }
    $(this).css("cursor", "pointer");
    }, function(){
    $(this).css("background-color", "transparent");
  });


  $(".ion-ios-navicon").on(" click", function(e) {
        e.preventDefault() , $(".sidebar").toggleClass("active"), $(".navs").removeClass("active"), $(".sidebar .sidebar-overlay").removeClass("fadeOut animated").addClass("fadeIn animated")
  }), $(".sidebar .sidebar-overlay").on(" click", function(e) {
        e.preventDefault() , $(".ion-ios-navicon").click(), $(this).removeClass("fadeIn").addClass("fadeOut")
  })
  $(".navs-left a").on("touchstart click", function(e) {
        e.preventDefault();
        // var t = $(this).attr("href").replace("#", "");
        // $(".sidebar").toggleClass("active")
  })


  $('.btn-close').on("click",function(){
    $('.modal').hide();
    $('.modal-backdrop').hide();

  });

  $(document).ready(function() {
    $('.alert-dismissible button').click();
  });


  let intro = introJs();
  function initTutorial(){
    $('.sidebar').removeClass('active');

    intro.setOptions({
      steps: [
        {
          intro: "Bem vindo ao Safety For ALL!"
        },
        {
          element: document.querySelector('#map'),
          intro: "Neste mapa você poderá ver todos as ocorrências reportadas pela nossa crescente comunidade e realizar seus proprios registros!"
        },
        {
          element: document.querySelector('.nav2'),
          intro: "Clique aqui para obter sua localização atual..."
        },
        {
          element: document.querySelector('.nav'),
          intro: "... E aqui para registrar uma nova ocorrencia"
        },
        {
          element: document.querySelector('.ion-ios-navicon'),
          intro: "Neste menu você tem algumas opções para customizar sua experiência"
        },
        {
          element: document.querySelector('.labelDarkToggle'),
          intro: "E aqui você pode alternar entre os temas claro e escuro"
        },
        {
          element: document.querySelector('body'),
          intro: "Safety, for all!  Enjoy. <br /> <img src='/imgs/safety.png' />"
        }
      ]
    }).start();
  }

  intro.onchange(function(element) {
    console.log(element.id)
    if(element.id === 'sidebar') {
      $('.sidebar').addClass('active');
    } else {
      $('.sidebar').removeClass('active');
    }
  });


  function setCookie(cname,cvalue,exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function checkCookie() {
    let user = getCookie("tutorialDisplayed");
    if (user != "") {
      console.log("tutorial already shown");
    } else {
      initTutorial();
      setCookie("tutorialDisplayed",1,30);
    }
  }


  $(document).ready(function() {
    checkCookie();
  });

  var AUTH_TOKEN;
  function sendForm(){
    AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');


    data={
      "authenticity_token":AUTH_TOKEN,
      "description":$('#descriptionForm').val(),
      "danger_level":$('[name=danger_level]').val(),
      "address":$("#place_address").val(),
      "category":$("#selectCategoria").val(),
      "latitude":$("#place_latitude").val(),
      "longitude":$("#place_longitude").val(),
    }
    $.ajax({
      type: 'post',
      dataType:'json',
      data: data,
      url:'/reports'
    }).done(function( data ) {
      Swal.fire(
        'Sucesso!',
        'A sua ocorrência foi registrada!',
        'success'
      );
      $('.btn-close').click();
    });
  }


</script> -->
