.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #fff !important;
}
