#top-nav.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  transition: all 0.2s linear 0.2s;
}

#top-nav.navbar a.navbar-brand {
  font-size: 32px;
  font-weight: bold;
}

#top-nav.navbar #btn-download {
  font-weight: bold;
  margin-left: 20px;
  border-width: 2px;
  border-radius: 6px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

#top-nav.navbar .navbar-nav .nav-item a {
  font-size: 23px;
  font-weight: bold;
  padding: 0;
  margin: 0px 20px;
  color: #FFF !important;
  position: relative;
}

#top-nav.navbar .navbar-nav .nav-item a:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: transparent;
  top: 10px;
  left: -8px;
  transition: all 0.1s linear 0s;
}

#top-nav.navbar .navbar-nav .nav-item a:hover:before,
#top-nav.navbar .navbar-nav .nav-item a.active:before {
  background-color: #fafafa;
}

#top-nav.navbar.navbar-is-scrolling {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

#top-nav .navbar-toggler {
  border: none;
  outline: none !important;
}

#top-nav:not(.collapsed) .navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-colored {
  background: linear-gradient(to top, #0846a3, #1f57b8, #3069ce, #3e7ce5, #4c8ffb);
  position: unset;
}

.logonav{
  height: 40px;
  width: 40px;
}
